<app-header></app-header>
<div >
<div class="compare-half left-half">
    <p>Comprehensive Cover</p>
    This policy covers your vehicle’s damage against accidents, theft, natural calamities and fire.
    <ul>
        <li>Offers Overnight Car Repair Services at 14 Major Cities.</li>
        <li>5 Claims Settled in 1 Minute.</li>
    </ul><br/>
    <ul class="compare-list">
        <div>What is covered?</div>
        <li>Damages caused to your car due to accidents, natural calamities and fire.</li>
        <li>Total loss due to theft.</li>
        <li>Legal Liabilities arising due to injury, death and/or property damage caused to a third party.</li>
    </ul>
    <ul class="compare-list">
        <div>What is not covered?</div>
        <li>Damages caused due to speed testing or organized racing remains uncovered.</li>
        <li>Your car insurance goes out of action if you do not posses a valid driving license.</li>
        <li>Usual wear and tear or maintainence remain uncovered.</li> 
    </ul>
</div>

<div class="compare-half right-half">
    <p>Third Party Cover</p>
    This only covers other person or property from damage or injury caused by your vehicle. It is mandatory as per law.
    <ul>
        <li>Damages to someone else's property.</li>
        <li>Injury or death of third party.</li>
    </ul><br/>

    <ul class="compare-list">
        <div>What is covered?</div>
        <li> We cover third party’s property damage caused by your vehicle in an accident.</li>
        <li>We cover expenses related to third party person's accidental injury or death.</li>
        <li>We offer personal accident insurance up to 15 lacs.</li>
    </ul>

    <ul class="compare-list">
        <div>What is not covered?</div>
        <li>Contractual liabilities.</li>
        <li>Your private car insurance goes out of action if you do not posses a valid driving license.</li>
        <li>Usual wear and tear or maintainence remain uncovered.</li>
    </ul>
</div>
</div>