

<app-header></app-header>
<div class="plans-container">
    <p>Our Travel Insurance Plans</p>
    <div class="plans">
        <div class="plan-card">
            <div>
              <img src="../../../assets/img/platinum.jpg" alt="" />
              <p>Platinum</p>
              <p>₹1000 <br> + <br>(₹200 X No. of Days of you travel)</p>
              <p>Claim Upto 5 lakhs</p>
              <p>Add-ons provided by our Platinum Plan:</p>
              <ul>
                <li>Accidental Death coverage</li>
                <li>Loss of Personal Documents</li>
                <li>Coverage of Hourly Delays</li>
              </ul>
            </div>
            <button class="button" (click)="route('PLATINUM')"> Select </button>
        </div>
            
        <div class="plan-card">
            <div>
                <img src="../../../assets/img/gold.jpg" alt="">
                <p>Gold</p>
                <p>₹600 <br> + <br> (₹200 X No. of Days of you travel)</p>
                <p>Claim Upto 5 lakhs</p>
                <p>Add-ons provided by our Gold Plan:</p>      
                  <ul>
                  <li>Accidental Death coverage</li>
                  <li>Loss of Personal Documents</li>
                  </ul>
            </div>
            
            <button class="button" (click)="route('GOLD')"> Select </button>
        </div>
        
        <div class="plan-card">
            <div>
                <img src="../../../assets/img/silver.jpg" alt="">
                <p>Silver</p>
                <p>₹350 <br> + <br> (₹200 X No. of Days of you travel)</p>
                <p>Claim Upto 5 lakhs</p>
                <p>Add-ons provided by our Silver Plan:</p>
                <ul>
                  <li>Accidental Death coverage</li>
                </ul>
            </div>
            <button class="button" (click)="route('SILVER')"> Select </button>
        </div>
    </div>
    <!-- <div >
        <button class="button" (click)="route('payment')"> Proceed </button>
    </div> -->
</div>


