<app-header></app-header>
<div class="calpre">
    <form class="form">
        <p>Create New Password</p>
        <br>
        <div #EmailElement>
            <label for="username">Enter Email</label><p class="input-error"></p>
            <input type="text" name="email" id="email" [(ngModel)]="email" 
            (blur)="emailCheck(EmailElement)" (input)="emailCheck(EmailElement)">
        </div>
        <div #PasswordElement>
            <label for="password">Enter New Password</label><p class="input-error"></p>
            <input type="password" name="password" id="password" [(ngModel)]="password" 
            (blur)="passwordCheck(PasswordElement)" (input)="passwordCheck(PasswordElement)">
        </div>
        <div class="submit-button" #submitButtonElement>
            <button type="submit" class="button"
            (click)="sendOtp(submitButtonElement)">{{buttonName}}</button>
        </div>
    </form>
    <br>
    <form class="result-form form" *ngIf="result">
        <p>Enter OTP from your Email</p>
        <br>
        <div #OtpElement>
            <label for="otp">OTP</label><p class="input-error"></p>
            <input type="number" name="otp" id="otp" maxlength="10" [(ngModel)]="otp"
                (blur)="otpCheck(OtpElement)" (input)="otpCheck(OtpElement)" />
        </div>
        <div class="submit-button" #submitButtonElement2>
            <button type="submit" class="button"
            (click)="checkOtp(submitButtonElement)">{{buttonName2}}</button>
        </div>
    </form>
  </div>