<app-header [loggedIn]="true"></app-header>
<div class="home-content">
  <div class="why-insurance">
    <!-- <img src="../assets/img/car.jpg" alt="Why Insurance?"> -->
    <img src="../../../assets/img/vehicle-insurance.png" alt="">
    <p>Welcome to {{title}}</p>
    <p>Home of the best Vehicle and Travel Insurance plans available for you!</p>
  </div>
  <div class="home-links">
    <a routerLink='buy-insurance'>Buy New Insurance</a>
    <a routerLink='all-plans'>View All Plans</a>
    <a routerLink='claim'>Claim</a>
    <a routerLink='calculate-premium'>Estimate Insurance Premium</a>
  </div>
  <br>
</div>
<div class="why-insurance2">
  <h2>Why Us?</h2>
  <div>
    <p>Zero Commission</p>
    <p>Zero Paper Work</p>
    <p>Highly Trusted</p>
  </div>
</div>

<div class="why-insurance2">
  <h2>You are Priority!</h2>
  <div>
    <div>
      <img src="../../../assets/img/less-money.jpg" alt="">
      <h4>Incredibly low premiums</h4>
      <p>Insuring things that matter to you shouldn’t come at a cost. That’s why when you buy from us, you get insurance
        that fits your pocket.</p>
    </div>

    <div>
      <img src="../../../assets/img/clock.jpg" alt="">
      <h4>Quick and easy</h4>
      <p>We’re easy, effortless and 100% digital. Forget paperwork, just access all our services with just a few clicks.
      </p>
    </div>

    <div>
      <img src="../../../assets/img/happy-person.png" alt="">
      <h4>Hassle free claims</h4>
      <p>We’re on a mission to make insurance claims stress-free. Just give us a call or file a claim online and
        experience cashless, speedy claim settlements.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>