<app-header></app-header>

<div class="plans-container">
    <p>Our Motor Insurance Plans</p>
    <div class="plans">
        <div class="plan-card">
            <img src="../../../assets/img/platinum.jpg" alt="">
            <p>Platinum</p>
            <p>₹1000 + 2% of your vehicle's purchase amount </p>
            <p>Add-ons covered under our Platinum Plan:</p>
            <ul>
                <li>Emergency Assist</li>
                <li>Complete Care</li>
                <li>CNG Kit,LPG Kit etc</li>
            </ul>
        </div>
            
        <div class="plan-card">
            <img src="../../../assets/img/gold.jpg" alt="">
            <p>Gold</p>
            <p>₹600 + 2% of your vehicle's purchase amount </p>
            <p>Add-ons covered under our Gold Plan:</p>
            <ul>
                <li>Emergency Assist</li>
                <li>Complete Care</li>
            </ul>
            
        </div>
        
        <div class="plan-card">
            <img src="../../../assets/img/silver.jpg" alt="">
            <p>Silver</p>
            <p>₹350 + 2% of your vehicle's purchase amount </p>
            <p>Add-ons covered under our Silver Plan:</p>
            <ul>
                <li>Emergency Assist</li>
            </ul>
            
        </div>
    </div>
</div>



<div class="plans-container">
    <p>Our Travel Insurance Plans</p>
    <div class="plans">
      <div class="plan-card">
        <img src="../../../assets/img/platinum.jpg" alt="" />
        <p>Platinum</p>
        <p>₹1000 <br> + <br>(₹200 X No. of Days of you travel)</p>
        <p>Add-ons provided by our Platinum Plan:</p>
        <ul>
          <li>Accidental Death coverage</li>
          <li>Loss of Personal Documents</li>
          <li>Coverage of Hourly Delays</li>
          <li>Medical Coverage</li>
        </ul>
      </div>
  
      <div class="plan-card">
        <img src="../../../assets/img/gold.jpg" alt="" />
        <p>Gold</p>
        <p>₹600 <br> + <br> (₹200 X No. of Days of you travel)</p>
        <p>Add-ons provided by our Gold Plan:</p>      
          <ul>
          <li>Accidental Death coverage</li>
          <li>Loss of Personal Documents</li>
          <li>Coverage of Hourly Delays</li>
        </ul>
      </div>
  
      <div class="plan-card">
        <img src="../../../assets/img/silver.jpg" alt="" />
        <p>Silver</p>
        <p>₹350 <br> + <br> (₹200 X No. of Days of you travel)</p>
        <p>Add-ons provided by our Silver Plan:</p>
        <ul>
          <li>Accidental Death coverage</li>
          <li>Loss of Personal Documents</li>
        </ul>
      </div>
    </div>
  </div>
  