<app-header></app-header>
<div class="plans-container">
    <p>Select Your Vehicle Type</p>
    <div class="plans">
        <div class="plan-card">
            <img src="../../../assets/img/two-wheeler.jpg" alt="">
            
            <br>
            <p>Two Wheeler</p>
            <br>
            <button class="button" (click)="run('TWOWHEELER')">Select</button>
        </div>
            
        <div class="plan-card">
            <img src="../../../assets/img/four-wheeler.png" alt="">
            <br>
            <p>Four Wheeler</p>
            <br>
            <button class="button" (click)="run('FOURWHEELER')">Select</button>
        </div>
    </div>
</div>

