<app-header></app-header>
<div class="plans-container">
    <p>Select Travel Insurance For</p>
    <div class="plans">
        <div class="plan-card">
            <img src="../../../assets/img/person.jpg" alt="">
            
            <br>
            <p>Individual</p>
            <br>
            <button class="button" (click)="run('INDIVIDUAL')">Select</button>
        </div>
            
        <div class="plan-card">
            <img src="../../../assets/img/family.png" alt="">
            <br>
            <p>Family</p>
            <br>
            <button class="button" (click)="run('FAMILY')">Select</button>
        </div>
    </div>
</div>

