/* .plan-card{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    padding: 30px;
    margin : 2% 3%;
    box-shadow: 0px 0px 20px rgb(215, 230, 8);
}
 .plan-card>p{
    width: fit-content;
    font-size: large;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 3px solid dodgerblue;
} */

.plans-container{
    width: fit-content;
    margin: 20px auto;
}
.plans-container>p{
    font-size: x-large;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.plans-container>:last-child{
    text-align: center;
}
.plans{
    display: inline-flex;
    /* border: 1px solid red; */
}
.plan-card{
    box-sizing: border-box;
    box-shadow: 1px 1px 5px lightgray;
    width: 300px;
    height: 500px;
    margin: 40px;
    padding: 20px;
    text-align: center;
}
.plan-card>div{
    height: 410px;
}
.plan-card>div>img{
    height: 150px;
}
.plan-card>div>:nth-child(2){
    font-size: large;
    margin-bottom: 10px;
}
.plan-card>div>:nth-child(3){
    font-size: medium;
    font-weight: 700;
    margin-bottom: 10px;
}
.plan-card>div>ul{
    box-sizing: border-box;
    margin: 10px;
    list-style: none;
    padding: 0px 10px;
}
.plan-card>div>ul>li{
    font-size: medium;
    font-weight: 300;
    margin: 2px auto;
    color: rgb(48, 48, 48);
}
@media(max-width:1142px){
    .plans{
        display: block;
    }
}